.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__user {
    width: 35%;
    border-bottom: 1px solid black;
}
.header_btns {
    width: 35%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
}